
<main id="main" class="main">
<div class="mainScreen">
  <div class="row">
    <h6 class="admintitle">Corporate Information&nbsp;&nbsp;<i class="bi bi-info-circle"></i></h6>

  </div>
  <br>

 <div class="row">

  <div class="col-12">

    <div class="card widget-flat">
      <h6 class="admintitle">Primary Information&nbsp;&nbsp;</h6>

      <div class="card-body">
        <div class="row">
          <div class="form-group  col-4">
            <div><b>User Name</b></div>
            <div class="text-capitalize">{{userName}}</div>
          </div>
          <div class="form-group  col-4">
            <div><b>Role</b></div>
            <div class="text-capitalize">{{role}}</div>
          </div>
          <div class="form-group  col-4">
            <div><b>Email</b></div>
            <div>{{email}}</div>
          </div>
          <!-- <div class="form-group  col-3">

            <div><img src="./../../../assets//img//profile-img.jpg"></div>
          </div> -->

        </div>
      </div>
  </div>
  </div>

 </div>
 <br>
 <!-- <div class="row">

  <div class="col-12">

    <div class="card widget-flat">
      <h6 class="admintitle"><a class="bartitlelabel">Customers&nbsp;&nbsp;</a></h6>

      <div class="card-body">
        <div class="row">
          <div class="form-group  col-2">
            <div class="card widget-flat">
              <div class="card-body">

                  <span class="text-muted fw-normal mt-0" title="Number of Customers" style="font-size: 20px;">2128</span>

                  <p class="mb-0 text-muted">
                      <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i>Total</span>

                    </p>
              </div>

          </div>
          </div>
          <div class="form-group  col-10">
              <div class="row">
                <div class="col-2">
                  <div class="card widget-flat">
                    <div class="card-body">

                        <span class="text-muted fw-normal mt-0" title="Number of Customers">2128</span>

                        <p class="mb-0 text-muted">
                            <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i>Total</span>

                          </p>
                    </div>
                </div>
                </div>
                <div class="col-2">
                  <div class="card widget-flat">
                    <div class="card-body">

                        <span class="text-muted fw-normal mt-0" title="Number of Customers">{{finalResults.customer.suspendedCoustomers.label}}</span>

                        <p class="mb-0 text-muted">
                            <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i>{{finalResults.customer.suspendedCoustomers.display}}</span>

                          </p>
                    </div>

                </div>
                </div>
                <div class="col-2">
                  <div class="card widget-flat">
                    <div class="card-body">

                        <span class="text-muted fw-normal mt-0" title="Number of Customers">{{finalResults.customer.suspendedCoustomers.label}}</span>

                        <p class="mb-0 text-muted">
                            <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i>{{finalResults.customer.suspendedCoustomers.display}}</span>

                          </p>
                    </div>

                </div>
                </div>
                <div class="col-2">
                  <div class="card widget-flat">
                    <div class="card-body">

                        <span class="text-muted fw-normal mt-0" title="Number of Customers">{{finalResults.customer.suspendedCoustomers.label}}</span>

                        <p class="mb-0 text-muted">
                            <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i>{{finalResults.customer.suspendedCoustomers.display}}</span>

                          </p>
                    </div>

                </div>
                </div>
                <div class="col-2">
                  <div class="card widget-flat">
                    <div class="card-body">

                        <span class="text-muted fw-normal mt-0" title="Number of Customers">{{finalResults.customer.suspendedCoustomers.label}}</span>

                        <p class="mb-0 text-muted">
                            <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i>{{finalResults.customer.suspendedCoustomers.display}}</span>

                          </p>
                    </div>


                </div>
                </div>
                <div class="col-2">
                  <div class="card widget-flat">
                    <div class="card-body">

                        <span class="text-muted fw-normal mt-0" title="Number of Customers">{{finalResults.customer.suspendedCoustomers.label}}</span>

                        <p class="mb-0 text-muted">
                            <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i>{{finalResults.customer.suspendedCoustomers.display}}</span>

                          </p>
                    </div>

                </div>
                </div>
                </div>
                <br>
                <div class="row">

                  <div class="col-2">
                    <div class="card widget-flat">
                      <div class="card-body">

                          <span class="text-muted fw-normal mt-0" title="Number of Customers">{{finalResults.customer.suspendedCoustomers.label}}</span>

                          <p class="mb-0 text-muted">
                              <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i>{{finalResults.customer.suspendedCoustomers.display}}</span>

                            </p>
                      </div>

                  </div>
                  </div>
                  <div class="col-2">
                    <div class="card widget-flat">
                      <div class="card-body">

                          <span class="text-muted fw-normal mt-0" title="Number of Customers">{{finalResults.customer.suspendedCoustomers.label}}</span>

                          <p class="mb-0 text-muted">
                              <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i>{{finalResults.customer.suspendedCoustomers.display}}</span>

                            </p>
                      </div>

                  </div>
                  </div>

                  </div>
          </div>


        </div>
      </div>
  </div>
  </div>

 </div> -->



 <!-- <div class="row">
  <br>
  <div class="col-3">

      <div class="card widget-flat">
          <div class="card-body">
              <div class="float-end">
                <i class="fa fa-users" aria-hidden="true" style="font-size: 25px;"></i>
              </div>
              <span class="text-muted fw-normal mt-0" title="Number of Customers">{{finalResults.customer.suspendedCoustomers.label}}</span>

              <p class="mb-0 text-muted">
                  <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i>{{finalResults.customer.suspendedCoustomers.display}}</span>

              </p>
          </div>
      </div>


  </div>
  <div class="col-3">

    <div class="card widget-flat">
      <div class="card-body">
          <div class="float-end">
            <i class="fa fa-users" aria-hidden="true" style="font-size: 25px;"></i>
          </div>
          <span class="text-muted fw-normal mt-0" title="Number of Customers">{{finalResults.customer.cancelledCoustomers.label}}</span>

          <p class="mb-0 text-muted">
              <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i>{{finalResults.customer.cancelledCoustomers.display}}</span>

            </p>
      </div>
  </div>
  </div>
  <div class="col-3">

    <div class="card widget-flat">
      <div class="card-body">
          <div class="float-end">
            <i class="fa fa-users" aria-hidden="true" style="font-size: 25px;"></i>
          </div>
          <span class="text-muted fw-normal mt-0" title="Number of Customers">{{finalResults.customer.otherCoustomers.label}}</span>

          <p class="mb-0 text-muted">
              <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i>{{finalResults.customer.otherCoustomers.display}}</span>

            </p>
      </div>

  </div>
  </div>
  <div class="col-3">
    <div class="card widget-flat">
      <div class="card-body">
          <div class="float-end">
            <i class="fa fa-users" aria-hidden="true" style="font-size: 25px;"></i>
          </div>
          <span class="text-muted fw-normal mt-0" title="Number of Customers">{{finalResults.customer.corporateEmployee.label}}</span>

          <p class="mb-0 text-muted">
              <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i>{{finalResults.customer.corporateEmployee.display}}</span>

            </p>
      </div>

  </div>
  </div>
 </div> -->



</div>
</main>
